<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body th:fragment="sidebar">
<aside class="col-md-3 sidebar">

  <th:block th:if="${session.userIsLogin}">
  <div id="profile-widget-2" class="widget profile-widget">
    <h3 class="widget_title">Profile</h3>
    <div class="widget_profile"></div>
    <div class="row">
      <div class="col-md-12">
        <ul class="user_quick_links">
          <li style="margin-bottom: 10px;padding-bottom: 10px;border-bottom: 1px solid #ecedee;">
            <a th:href="@{|/users/profile/${session.userIsLogin.id}|}"><i class="icon-home"></i> Profile page</a></li>
          <li style="margin-bottom: 10px;padding-bottom: 10px;border-bottom: 1px solid #ecedee;">
            <a th:href="@{|/users/edit/${session.userIsLogin.id}|}"><i class="icon-pencil"></i> Edit profile</a></li>
          <li style="margin-bottom: 10px;padding-bottom: 10px;border-bottom: 1px solid #ecedee;">
            <a th:href="@{/logout}"><i class="icon-signout"></i> Logout</a></li>
        </ul></div><!-- End col-md-4 -->
    </div><!-- End row -->
  </div>
  </th:block>

  <div class="widget widget_stats">
    <h3 class="widget_title">Stats</h3>
    <div class="ul_list ul_list-icon-ok">
      <ul>
        <li><i class="icon-question-sign"></i>Questions ( <span>100</span> )</li>
        <li><i class="icon-comment"></i>Answers ( <span>100</span> )</li>
        <li><i class="icon-user"></i>Members ( <span>100</span> )</li>
      </ul>
    </div>
  </div>

  <div class="widget widget_highest_points">
    <h3 class="widget_title">Highest points</h3>
    <ul>
      <li>
        <div class="author-img">
          <a href="#"><img width="60" height="60" th:src="@{/images/bot_admin.png}" alt=""></a>
        </div>
        <h6><a href="#">admin</a></h6>
        <span class="comment">12 Points</span>
      </li>
      <li>
        <div class="author-img">
          <a href="#"><img width="60" height="60" th:src="@{/images/default_ava.png}" alt=""></a>

        </div>
        <h6><a href="#">vbegy</a></h6>
        <span class="comment">10 Points</span>
      </li>
      <li>
        <div class="author-img">
          <a href="#"><img width="60" height="60" th:src="@{/images/default_ava.png}" alt=""></a>
        </div>
        <h6><a href="#">ahmed</a></h6>
        <span class="comment">5 Points</span>
      </li>
    </ul>
  </div>


</aside><!-- End sidebar -->
</body>
</html>